.content__default
  @media (min-width 768px)
    padding 40px
  img
    max-width 100%

  h1
  h2
    padding-bottom .3em
    border-bottom 1px solid #eaecef
  
  h1
  h2
  h3
  h4
  h5
  h6
    margin-top -3.1rem
    padding-top 4.6rem
    // margin-bottom 16px
    font-weight 600
    line-height 1.25
    &:hover
      .md-custom-anchor
        visibility visible
  
  h1
    font-size 2em
  
.md-custom-anchor
  visibility hidden
  
.header-anchor
  float left
  margin-left -20px
  padding-right 4px
  line-height 1