.token
  &.keyword
  &.operator
    color #d73a49
  &.function-variable
    color #6f42c1
  &.function
    color #005cc5
  &.parameter
    color #24292e
  &.number
  &.constant
  &.boolean
    color #005cc5
  &.double-quoted-string
  &.single-quoted-string
  &.string
    color #032f62
  &.variable
    color #24292e
  &.comment
    color #6a737d
  &.builtin
    color #e36209