.btn
  position relative
  display inline-block
  font-weight 600
  white-space nowrap
  vertical-align middle
  user-select none
  background-repeat repeat-x
  background-size 110% 110%
  border 1px solid rgba(27 31 35 .2)
  border-radius .25em
  color #242910
  background-color #eff3f6
  background-image linear-gradient(-180deg,#fafbfc,#eff3f6 90%)
  cursor pointer
  background-position -1px -1px
  &:hover
    background-color #e6ebf1
    background-image linear-gradient(-180deg #f0f3f6 #e6ebf1 90%)
    background-position -.5em
    border-color rgba(27 31 35 .35)
    text-decoration: none
    background-repeat: repeat-x
  &.disabled
  &:disabled
    color rgba(36 41 46 .4)
    background-color #eff3f6
    background-image none
    border-color rgba(27 31 35 .2)
    box-shadow none
    cursor default
    background-position 0 0
  &-outline
    color $accentColor
    background-color #fff
    background-image none
    &:hover
      color #fff
      background-color $accentColor
      background-image none
      border-color $accentColor
    &.disabled
    &:disabled
      color rgba(27,31,35,.3)
      background-color #fff
      border-color rgba(27,31,35,.15)
      box-shadow none
  &-sm
    padding 3px 10px
    font-size 12px
    line-height 20px