.flex
  &-auto
    flex 1 1 auto
  &-items-center
    align-items center
  &-justify
    &-between
      @media (min-width 1012px)
        justify-content space-between
    &-center
      justify-content center
  &-wrap
    flex-wrap wrap
  &-row-reverse
    flex-direction row-reverse
  &-lg
    &-row
      @media (min-width 1012px)
        flex-direction row
    &-nowrap
      @media (min-width 1012px)
        flex-wrap nowrap
  &-order
    &-none
      @media (min-width 1012px)
        order inherit
    &-2
      order 2
  &-column
    flex-direction column

