.mx-2
  margin-right 8px
  margin-left 8px

.mx-3
  margin-right 16px
  margin-left 16px

.my
  &-1
    margin-top 4px
    margin-bottom 4px
  &-3
    margin-top 16px
    margin-bottom 16px
  &-4
    margin-top 24px
    margin-bottom 24px

.ml
  &-0
    margin-left 0
  &-3
    margin-left 16px
  &-sm
    &-4
      @media (min-width 544px)
        margin-left 24px

.mr
  &-0
    margin-right 0
  &-1
    margin-right 4px
  &-2
    margin-right 8px
  &-3
    margin-right 16px
  &-4
    margin-right 24px
  &-md
    &-1
      margin-right 4px
  &-lg
    &-0
      @media (min-width 1012px)
        maring-right 0!important
    &-3
      @media (min-width 1012px)
        margin-right 16px!important
    &-5
      @media (min-width 1012px)
        margin-right 32px!important

.mt
  &-0
    margin-top 0
  &-1
    margin-top 4px
  &-2
    margin-top 8px
  &-3
    margin-top 16px
  &-4
    margin-top 24px
  &-6
    margin-top 40px
  &-md-0
    @media (min-width 768px)
      margin-top 0
  &-lg
    &-0
      @media (min-width 1012px)
        margin-top 0!important

.mb
  &-sm
    &-0
      @media (min-width 544px)
        margin-bottom 0!important
  &-md
    &-2
      @media (min-width 768px)
        margin-bottom 8px!important
  &-lg
    &-0
      margin-bottom 0!important
  &-0
    margin-bottom 0
  &-1
    margin-bottom 4px
  &-2
    margin-bottom 8px!important
  &-3
    margin-bottom 16px
  &-4
    margin-bottom 24px
  &-5
    margin-bottom 32px
  &-6
    margin-bottom 40px