.ml-0
  margin-left 0

.mr
  &-1
    margin-right 4px
  &-3
    margin-right 16px
  &-lg
    &-0
      @media (min-width 1012px)
        maring-right 0

.mt
  &-2
    margin-top 8px
  &-4
    margin-top 24px
  &-6
    margin-top 40px

.mb
  &-lg
    &-0
      margin-bottom 0
  &-1
    margin-bottom 4px
  &-2
    margin-bottom 8px