.px-3
  padding-right 16px
  padding-left 16px

.pl
  &-md-2
    @media (min-width 768px)
      padding-left 8px

.pr-4
  padding-right 24px

.py
  &-1
    padding-top 4px
    padding-bottom 4px
  &-4
    padding-top 24px
    padding-bottom 24px
  &-5
    padding-top 32px
    padding-bottom 32px

.pb
  &-2
    padding-bottom 8px
  &-3
    padding-bottom 16px
  &-5
    padding-bottom 32px

.pt
  &-5
    padding-top 32px
  &-6
    padding-top 40px
