.text
  &-uppercase
    text-transform uppercase
  &-capitalize
    text-transform capitalize
  &-normal
    font-weight 400
  &-center
    text-align center
  &-bold
    font-weight 600
  &-gray 
    color #586069
  &-white
    color #fff